html {
    text-align: center;
    font-size: 16px;
    margin-top: 3rem;
    background-color: black;
}

body {
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-size: 5rem;
    color: white;
}

button {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin: 0.3rem;
    font-size: 1.5rem;
    border: 0;
    color: white;
}

button:active {
    background-color: white;
}

.display {
    height: 7rem;
}

.top-left {
    color: black;
    background-color: lightgrey;
}

.bottom-left {
    background-color: grey;
}

.bottom-right {
    background-color: orange;
}

@media only screen and (max-width: 480px) {
    body {
        width: 100%;
    }
    h1 {
        text-align: right;
        margin-right: 1.6rem;
    }
}